# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3

# ML files
*.h5
*.csv


# Env
.env
venv/

# OS
.DS_Store


# Node
node_modules/
dist/
build/

# Modèles MediaPipe
backend/interview/*.task

# Base de données locale
backend/interview_simulator.db

# Images temporaires
backend/temp_*.jpg

# Fichiers VS Code
.vscode/

.vscode/
backend/interview_simulator.db
backend/temp_*.jpg
